
Nav {
border-bottom: black;
border-style: solid;
background-color: rgb(255, 196, 86);
height:10vh;
}

.nav-link {
  color: black;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  margin: 5px;
}

.nav-link:hover {
  font-size: 1.5rem;
}

div .quote {
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  background-color: rgb(255, 255, 167);
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

p {
  text-align: center;
}

body {
  background-image: url("./images/hive.jpg");
  background-size: cover;
}

.generate {
  margin-bottom: 10px;
}

h1 {
  text-align: center;
}

.playerCards .card {
  margin: 10px;
  background-color: rgb(255, 255, 167);
}

.card-title {
  text-align: center;
}